<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Gestión de gastos{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body>
    <header class="header-shell">
    {% block header %}{% endblock %}
    </header>

    <main>
    {% block contenido %}{% endblock %}
    </main>
    
    <img src="{{ url_for('static', filename='imagenes/gif1.webp') }}" alt="gif de billetes" class="gif-final">
    <img src="{{ url_for('static', filename='imagenes/img2.webp') }}" alt="Imágen de calculadora" class="img-calculadora">
    <img src="{{ url_for('static', filename='imagenes/img1.jpg') }}" alt="Imágen de monedas" class="img-monedas">
    
    {% block extra %}{% endblock %}
    
    <footer>
        <small>&copy; Cristian Chozas Díaz - Reservados todos los derechos. 11/05/2025</small>
    </footer>
</body>
</html>